<?xml version='1.0' encoding='utf-8'?>
<widget id="com.winz.aquino" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aquino</name>
    <description>An Aquarium automation app</description>
    <author email="witz.sebastien@gmail.com" href="">Winz</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
